@import "utilidades/variables";
@import "utilidades/mixin";
@import "utilidades/extend";

*, p, h1, h2, h3, h4, h5, h6, h7{
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
    text-decoration: none;
}

.flex {
    display: flex;
    align-items: center;
    justify-items: center;
    text-align: center;
}

.body {
    background: linear-gradient(rgb(178, 222, 249), 30%, rgb(255, 255, 255));
}

.contenedorIndex {
    display: grid;
    grid-template-columns: 70% 30%;
    grid-template-areas:
        "header header"
        "main sidebar"
        "footer footer";
    .header {
        grid-area: header;
    }
    .main {
        grid-area: main;
    }
    .sidebar {
        grid-area: sidebar;
    }
    .footer{
        grid-area: footer;
    }
}

.header {
    .contenedorHeader {
        .titulo{
            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
            margin-left: 15px;
            padding-left: 10px;

        }
        @include flex;
        @include borderBack;

        .logo {
            width: 20%;

            .imgLogo {
                width: 150px;
            }
        }

        .buscador {
            display: flex;
            width: 100%;
            height: 30px;
            justify-content: center;
            
        }
    }
}

.main {
    .contenedorDatos {
        .homeDiaHoy {
            @include border;
            @include borderBack;
            padding: 10px 35px;
            margin: 5px;
            display: flex;
                
        }
        .mtnm{
            @include border;
            @include borderBack;
            margin: 5px;
            padding: 15px 0;
            display: flex;
            justify-content: center;
            .tarde,
            .noche,
            .madrugada {
            border-left: $colorBorde;
}

           
        }
        .mtnm>div{
            text-align: center;
            width: 25%;
        }
    }
}

.mapa{
    margin: 15PX 7PX;
    box-shadow: 
    0.3em 0.3em 1em rgba(0,0,0,0.1);
}

.homeDiaHoyIzq{
    width: 50%;
    text-align: left;
    .temp {
        @include temp;
            .h1Temp {
                flex: auto;
                text-align: center;
            }
    }
    
}
.homeDiaHoyDer {
    width: 50%;
    text-align: right;
}

.climaImg{
    @include animacion (55px,55px,2s)
}
.gotas{
    @include animacion (15px,15px,0.3s)
}

.sidebar{
    .contenedorNoticias{
        .noticias{
            @include border;
            @include borderBack;
            margin: 5px;
            padding: 15px;
            .indiceAireIMG{
                width: 200px;
                display: flex;
                justify-content: space-evenly;
                align-items: center;
                justify-items: center;
                .nivel{
                    width: 70px;
                    height: 46px;
                }
                .alergias {
                    width: 68px;
                    height: 63px;
                }

            }
        }
    }
}
.footer{
    text-align: center;
    padding: 15px;
    grid-area: footer;
    background-color: rgb(157, 188, 241);
    .linkFooter{
        text-decoration: none;
    }
}


/*--------*/

@keyframes imagenMovimiento {
    to {
        transition: scale(0.7);
    }

    from {
        transform: scale(1.2);
    }

}


/*-----DIAS------*/

.contenedorDias{
    display: grid;
    grid-template-columns: 100%;
    grid-template-areas:
    "header"
    "main"
    "tabla"
    "footer";
    .header {
        grid-area: header;
    }
    .mainDias,
    .mainSemanas {
        grid-area: main;
        display: flex;
    }
    .diaPorDia {
        border: solid 2px $colorBorde;
        margin: 5px;
        padding: 5px;
        grid-area: tabla;
    }
    
    .diaPorDia{
        @include border;
        @include borderBack;
        margin-bottom: 35PX;
        .dia{
            display: flex;
            align-items: center;
            justify-items: center;
            text-align: center;
            span{
                flex: auto;
            }
        }
        .boderB {
            border-bottom: 1px solid $colorBorde;
            margin-bottom: 10px;
        }
        
    }
}

.diasDiaHoy{
    @include border;
    @include borderBack;
    margin: 5px;
    padding: 10PX 15px;
    display: flex;
    width: 50%;
}
.diasDiaHoyIzq{
    width: 50%;
    text-align: left;
}
.temp{
    @include temp;
    .h1Temp{
        flex: auto;
        text-align: center;
    }
}
.diasDiaHoyDer{
    width: 50%;
    text-align: right;
}

.diasDiaManana{
    @include border;
    @include borderBack;
    margin: 5px;
    padding: 10PX 15px;
    display: flex;
    width: 50%;
    .diasDiaMananaIzq{
        width: 50%;
        text-align: left;
    }
    .temp{
        @include temp;
        .h1Temp{
            flex: auto;
            text-align: center;
        }
    }
    .diasDiaMananaDer {
        width: 50%;
        text-align: right;
    };
}

/*---------SEMANA--------------*/

.contenedorSemana {
    display: grid;
    grid-template-columns: 100%;
    grid-template-areas:
        "header"
        "main"
        "semana"
        "footer";
}

.header {
    grid-area: header;
}
.mainSemanas {
    grid-area: main;
    display: flex;
}
.listaSemana {
    grid-area: semana;
    margin-bottom: 15PX;
}
.footer {
    grid-area: footer;
}

.diaPorDia{
    @include border;
    @include borderBack;
    margin: 5px;
    padding: 2PX 35px;
    
}

.mainDias{
    display: flex;
}

/*---------MES--------------*/

.calendario {
    .semana{
        .diaMes {
            box-sizing: border-box;
            width: 14%;
            height: min-content;
            border: solid 2px  $colorBorde;
            margin: 3px;
            padding: 5px 0;
            text-align: center;
        }
    }
}

/*--mwdia screen--*/


@media screen and (max-width:992px) {

    .contenedorIndex {
        display: grid;
        grid-template-columns: 100%;
        grid-template-areas:
            "header"
            "main"
            "sidebar"
            "footer";
    }
    .titulo{
        font-size: 1.6em;
    }
    .header {
        grid-area: header;
    }

    .main {
        grid-area: main;
    }

    .sidebar {
        grid-area: sidebar;
    }

    .footer {
        grid-area: footer;
    }

    .homeDiaHoy {
        padding: 10px;
    }

    .imgLogo {
        width: 75px !important;
    }

    input {
        width: 35%;
        border: solid 1px gray;
        border-radius: 10px;

    }

    .mtnm>div>h3 {
        font-size: 1em;
    }

    .mainDias {
        display: block !important;
    }

    .diasDiaHoy,
    .diasDiaManana {
        width: auto;
    }

    
    .diaMes>h3, .diaMes>div>h3 {
        font-size: 1em !important;
      
    }
    .diaMes>div>img{
        width: 33px;
    }
   

}



@media screen and (max-width:590px) {
    .titulo{
        font-size: 1.1em;
        padding-left: 5px !important;;
    }
   h3 {
        font-size: 0.8em !important;
    }
    .mtnm>div>p{
        font-size: 0.7em !important;
    }
    .homeDiaHoy, .diasDiaHoy, .diasDiaMananaIzq, .diasDiaManana {
        display: block !important;
    };
    .homeDiaHoyIzq, .diasDiaHoyIzq, .diasDiaHoyDer, .diasDiaMananaDer, .diasDiaMananaIzq, .homeDiaHoyDer, .mainSemanas{
        display: block;
        width: 100% !important;
        text-align: left !important;
    };
    .homeDiaHoyIzq>p .homeDiaHoyDer>p{
        display: inline;
       
    };
    .diaPorDia>div>span, .diaPorDia>div>div>span{
        font-size: 0.8em !important;
    };
    .imgDiaPorDia {
       width: 28px
    };

    .diaMes>h3, .diaMes>div>h3, .diaMes>div>span {
        font-size: 0.7em !important;
        display: block !important;
      
    }
    .diaMes>div>img{
        width: 25px  !important;
        display: block !important;
    }
    .footer{
        display: none;
    }
    
}
